/* src/App.css */

.App {
  text-align: center;
}

.whiteboard {
  position: fixed;
}

canvas {
  background-color: #fff;
  cursor: crosshair;
}

.controls {
  margin-bottom: 10px;
}

button {
  padding: 5px 15px;
  margin-right: 10px;
  cursor: pointer;
}
input[type="color"] {
  cursor: pointer;
}
input[type="range"] {
  margin-left: 10px;
}
